@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" ng-controller="homeIndexNewCtrl">
    @* <h1>{{message}}</h1> *@
    <!-- Phần tử Dropzone -->
    <button ng-click="uploadFile()">Tải lên danh sách</button>
    <div id="myDropzone" hidden></div>

    <hr />
    <div class="row1 bg-content-min justify-content-start mb-2" style="padding-bottom: 0px !important;">
        <div class="table-responsive  table-fix-scroll-new border">
            <table class="table table-striped table-hover1  table-custom-new">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">
                            Hành động
                        </th>
                        <th scope="col">Tài khoản</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thực hiện</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in Data">
                        <td>
                            <span ng-bind="$index+1"></span>
                        </td>
                        <td>
                            <i class="fa-solid fa-delete-left" ng-click="showDeleteModal($event,x)"></i>
                        </td>

                        <td>
                            <span ng-bind="x.username"></span>
                        </td>
                        <td>
                            <span ng-show="x.isSuccess">Thành công</span>
                            <span ng-show="!x.isSuccess">Thất bại</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" ng-click="startReg(x)">Thực hiện</button>
                        </td>
                    </tr>
                    <tr ng-show="Data==null || Data.length==0">
                        <td colspan="12">
                            Không tìm thấy bản ghi nào
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/scriptsforcontrolelrs/home/indexNew.js" asp-append-version="true"></script>

